.DS_Store
.env
.env.*
*.log
vendor
auth.json
web/.htaccess
web/app/cache/*
web/app/mu-plugins/*
web/app/plugins/*
web/app/themes/twentytwentyfive/
web/app/upgrade
web/app/uploads/*
web/wp
wp-cli.local.yml


!.env.example
!web/app/plugins/.gitkeep
!web/app/uploads/.gitkeep